
<h1>Hey Coach ......</h1>
<p>Find me in app/views/coaching_controller/ask.html.erb</p>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="What do you want again?">
  <input type="submit" value="Go on!">
</form>
